<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS Express MYSQL Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body class="bg-info">
        <div class="container">
        <div class="row">
            <div class="col-md-12" style="background-color: #fff;margin-top:25px">
            {{{body}}}
            </div>
        </div>
        </div>
    </body>
</html>