<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
        </tr>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.NAME}}</td>
                <td>{{this.EMAIL}}</td>
                <td>{{this.PHONE}}</td>
                <td>{{this.CITY}}</td>
            </tr>
            {{/each}}

        </tbody>
    </thead>
</table>